<div id="bottom">
	<ul class="socials">
		<li><span class="separator">Follow us</span></li>
		<li><a class="fa fa-facebook fa-2x"  href="https://www.facebook.com/cultrides" target="_blank" title="Facebook"></a></li>
		<li><a class="fa fa-twitter fa-2x" href="https://twitter.com/cultrides" target="_blank" title="Twitter"></a></li>
	</ul>
	<div class="rightsRes">All rights reserved 2023 cultrides.com</div>
	<div style="display: none">20231010 - 16.2.0</div>
</div>


<!--
todo:
- live search
- search count
-->