<search-parameters></search-parameters>

<div class="initiallyHidden pageContent">
	<div class="articlePage">
		<h2>About Us</h2>
		<p>
		We are team of petrol-heads and car geeks. Cultrides.com was created to reveal which make and model of all production cars has the greatest following, which one is the coolest or simply most desired.
		</p>
		<p>
		What ride do you value most and why? For each car you can post links to projects or just some really interesting stuff related to given model. We will share of them on our facebook and Gooogle+ page.
		</p>
		<p>
		This ranking is not created by car magazines. It is created by our visitors including You. We are grateful for your part in the ranking. Thanks!
		</p>
		<p>
		If a car that you want to vote for is not in our database then let us know by going to "Add Cult Ride" tab and leaving a comment.
		</p>
		<p>
		If you want to contact us, send us an e-mail on <a href="mailto:contact@cultrides.com">contact@cultrides.com</a>
		</p>
		<p>
		If you want to socialize with us and other cultrides.com fans, here you can find URL’s to our fanpages:
		</p>
		<ul>
			<li><a href="http://www.facebook.com/Cultrides" target="_blank">facebook</a></li>
			<li><a href="http://twitter.com/Cultrides" target="_blank">twitter</a></li>
			<!-- <li><a href="http://plus.google.com/u/0/b/105708846498094081935/105708846498094081935" target="_blank">google+</a></li> -->
		</ul>
	</div>
</div>
