<search-parameters></search-parameters>

<div class="initiallyHidden pageContent">
	<div class="articlePage">
		<comments-group [parentId]="0" [itemId]="itemId" >
			<h2>Add Cult Ride</h2> 
			<section>
				<div class="pageHint" >
					Let's decide together what rides are missing in our ranking and should be included here. Let us know in comments below your suggestions regarding vehicles that should be added and/or data mistakes. <u>The magic word is "Cultride"</u>. Thanks!
				</div>
			</section>
		</comments-group>
	</div>
</div>
